@use "@styles/vars" as *;

.producto-detalle {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .producto-detalle {
    flex-direction: row;
  }
}
.producto-detalle .category {
  text-transform: capitalize;
  color: $pink;
}
.producto-detalle h2 {
  color: #333;
}
.producto-detalle .image {
  flex: 1;
}
.producto-detalle .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/2;
}
@media (min-width: 700px) {
  .producto-detalle .image img {
    aspect-ratio: 2/4;
  }
}
.producto-detalle .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: flex-start !important;
  justify-content: center !important;
  text-align: left;
}
.producto-detalle button {
  margin-top: 2em;
}
.producto-list {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: 1fr;
  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: 1em;
}
.productos-page {
  padding-bottom: 4em;
  padding-bottom: 2em;
}
