.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  padding: 0.5em 1em;
  background-color: #fdf23e;
  display: inline-block;
  border-radius: 0.5em;
  transition: filter 0.2s ease;
  text-align: center;
  box-shadow: 0 0 0.5em #00000080;

  &-black {
    color: #fff;
    background-color: #333;
  }

  &:hover,
  &.active {
    filter: brightness(80%);
  }
}
