.formulario {
  flex: 1;
}
.formulario form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.formulario form input {
  width: 100%;
  font-family: system-ui;
  font-size: 1em;
}
.formulario form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
@media (min-width: 700px) {
  .formulario form .form-row {
    flex-direction: row;
  }
}
.formulario form .form-row .form-group {
  flex: 1;
}
.formulario form label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}
.formulario form input[type="text"],
.formulario form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.formulario form textarea {
  height: 200px;
  font-family: system-ui;
  font-size: 1em;
}
.formulario form .btn {
  width: 100%;
}
