@use "@styles/vars" as *;

.producto-card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 4/3;
  border-radius: 1em;
  overflow: hidden;
  background-color: white;
  text-align: center;
}
@media (min-width: 1200px) {
  .producto-card {
    aspect-ratio: 4/4;
  }
}
.producto-card:hover {
  background-color: $red;
}
.producto-card:hover img {
  transform: scale(1.2);
}
.producto-card:hover .price {
  color: white;
}
.producto-card .image {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.producto-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
  transform: scale(1);
}
.producto-card .text {
  padding: 1em;
}
.producto-card h3 {
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
}
